// Your variable overrides
$body-bg: #1684FB;
$body-color: #fff;

$enable-rounded: true;

$input-border-radius:     100rem;
$input-border-radius-lg:  100rem;
$input-border-radius-sm:  100rem;



// Colors
$primary: #ffca00;
