// Your variable overrides
//  #1684FB
//$body-bg: #FFF;
//$body-color: #000;

$enable-rounded: true;

$input-border-radius:     100rem;
$input-border-radius-lg:  100rem;
$input-border-radius-sm:  100rem;



// Colors
$primary: #ffca00;

